/* card do produto */
.card{
    display: flex;
    flex-direction: column;
    gap:16px;
    max-width: 352px;
    min-width: 136px;
    width: 25vw;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover{
    width: clamp(136px,25vw,352px);
    height: clamp(136px,26vw,370px);
    position: relative;
}


/* nome do produto */
.card h1{

    font-family: var(--karla-font);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.02em;

    color: black;
}

/* preço novo */
.card h2{

    font-family: var(--karla-font);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.02em;

    color: #DA667B;
}

/* preço riscado */
.card h2 span{

    margin-right: 10px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-decoration-line: line-through;

    color: #000000;

    opacity: 0.5;

}

/* dividir no cartão */
.card p{

    font-family: var(--karla-font);
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;

    color: #000000;

}

/* botão adicionar no carrinho */
.card button{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px;

    max-width: 346px;
    height: 44px;

    background: #000000;
    border-radius: 10px;


    font-family: var(--karla-font);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

@media (max-width: 1200px){
    .card button{
        font-size: 18px;
    }
}

@media(max-width:750px){
    .card {
        gap:5px
    }
    .card button{
        display: none;
    }
    .card p{
        display: none;
    }

    .card h2 span{
        display: none;
    }
    .card h2{

        font-weight: 500;
        font-size: clamp(10px,3vw,20px);
        color: black;
    }

    .card h1{
        font-weight: 600;
        font-size: clamp(12px,3.5vw,20px);
    }
    .em-alta{
        display: none;
    }
    .estrelas{
        display: none;
    }

}

.em-alta{
    position: absolute;
    z-index: 50;
    top:10%;
    width: 40%;
    height: auto;
}

.estrelas{
    width: 50%;
    height: auto;
}