.imgproduct img{
    width: clamp(75px , 25vw, 253px );
    height: clamp(63px , 25vw, 192px );
    object-fit: cover;
}
.blockslipse img {
    display: flex;
  }
  
  @media (min-width: 768px) {
    .blockslipse img {
      display: none; 
    }
  }


.carrinho-vazio{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-family: var(--montserrat-font);
  gap:5px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 100px;
}

.carrinho-vazio-img img{
  width:20vw;
  max-width: 300px;
  min-width: 100px;
  height: auto;
}

.carrinho-vazio h1{
  font-size: clamp(15px,2vw,40px);
}
.carrinho-vazio h2{
  font-weight: 500;
  font-size: clamp(15px,2vw,40px);
  text-align: center;
  margin-bottom: 20px;
  line-height: normal;
  max-width: 600px;
}

.carrinho-vazio-img{
  align-self: center;
}

.carrinho-vazio button{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5vw 4vw;
  border: none;
  max-width: 352px;
  max-height: 75px;

  font-family: var(--montserrat-font);
  font-size: clamp(12px,2vw,35px);
  font-weight: 700;
  letter-spacing: 0.02em;

  color: #FFFFFF;
  background: #C4324D;
  border-radius: 10px;

}
.carrinho-vazio a{
  text-decoration: none;
}

.carrinho-vazio button:hover{
  background-color: var(--rose2);
  color:black;
  transition: 0.3s;
}