:root {
--color-rose1:#DA667B;
--color-rose2:#F18196;
--color-yelow:#FFCC00;
--color-black:#000000;
--color-green:#D9D9D9;
--color-blue:#2576C1;
--color-grey:#04FA49;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}