:root {
  --black: #050505;
  --rose1: #DA667B;
  --rose2: #F18196;
  --yellow: #FFCC00;
  --grey: #D9D9D9;
  --grey2:#EDE6E6;
  --blue: #2576C1;
  --green: #04FA49;
  --white:white;
  --background-footer: url('../assets/imgs/Rectangle\ 236.svg');
  --background-section:url('../assets/imgs/Rectangle\ 182.svg');
  --background-section2:url('../assets/imgs/Rectangle\ 189.svg');
  --background-section3:url('../assets/imgs/Rectangle\ 196.svg');


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  background-color: var(--grey);

}

button {
  cursor: pointer;
}
