:root {
  --black: #050505;
  --rose1: #DA667B;
  --rose2: #F18196;
  --yellow: #FFCC00;
  --grey: #D9D9D9;
  --blue: #2576C1;
  --green: #04FA49;
  --white:white;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}